@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  font-family: var(--font-jost);
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
  overflow-y: scroll;
  fill: currentColor;
}

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; /* 1 */
  line-height: 1; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: rgb(242, 244, 255);
  --font-color: rgb(100, 113, 150);
  --font-size: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  max-width: 144rem;
}

@layer base {
  h2 {
    @apply text-xl;
    line-height: 1;
  }
  h3 {
    @apply text-lg;
    line-height: 1;
  }
  p {
    @apply text-base;
    line-height: 1;
  }
}

@layer components {
  .button-category {
    @apply rounded-lg bg-gray-light px-[1rem] py-2.5 text-xs/3 font-semibold text-primary hover:bg-primary hover:text-white hover:transition focus:bg-primary focus:text-white focus:transition-all;
  }

  .button-feedback {
    @apply btn bg-tertiary hover:bg-tertiary;
    font-size: 0.93rem;
    padding: 0.875rem 1.375rem;
  }

  .button-sbm {
    @apply button-feedback;
    padding: 0.875rem 1.25rem;
  }

  .button {
    @apply btn;
    padding: 0.875rem 1.25rem;
  }
}

.roadmap {
  margin-top: 2.875rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 1.5rem;
}

.roadmap-mobile {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.roadmap-item {
  @apply box;
  max-width: 18.5rem;
  min-height: 250px;
  margin-bottom: 20px;
}

.roadmap-tag {
  align-self: center;
  margin-right: 0.81rem;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.roadmap-tag.planned {
  background-color: #f49f85;
}

.roadmap-tag.live {
  background-color: #ad1fea;
}

.roadmap-tag.in-progress {
  background-color: #62bcfa;
}

.roadmap-span {
  justify-self: end;
  align-self: self-start;
  font-weight: 700;
}

@layer utilities {
  .box {
    @apply rounded-lg bg-white px-8 py-6;
  }

  .inner-container {
    @apply relative flex flex-col px-5 pt-8 sm:py-[95px];
  }

  .btn {
    @apply rounded-lg font-semibold text-white opacity-80 transition-all hover:opacity-100;
  }
}

@layer components {
  .navbar {
    @apply mb-6 flex items-center  justify-between bg-secondary py-3.5 text-white;
  }

  .feedback {
    @apply box grid grid-cols-6 items-baseline gap-y-6;
  }

  .feedback-content {
    @apply col-span-6 flex flex-col items-start md:col-span-4;
  }

  .msg {
    @apply col-start-6 ml-auto flex items-center self-center;
  }

  .btn-upvote-md {
    @apply col-start-1 row-start-1 mr-10 flex h-[50px] w-10 flex-col;
  }

  /* .btn-upvoted {
    @apply bg-primary text-white;
  } */

  .btn-upvote-x {
    @apply col-start-1 row-start-2 mr-0 flex h-10 w-16 flex-row justify-center p-2;
  }
}

.comment {
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--background-color);
}

.comment:last-child {
  border-bottom: none;
}

.comment-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.comment-content {
  padding-top: 16px;
  padding-bottom: 30px;
  line-height: 1.25rem;
  position: relative;
  overflow: hidden;
}

.reply-content {
  margin-left: 38px;
}

.replies {
  position: relative;
}

.replies::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 35px;
  left: 16px;
  width: 1px;
  height: 115%;
  background-color: var(--background-color);
}
.user {
  display: grid;
  grid-template-columns: 2.18rem 1fr;
  column-gap: 1.87rem;
  align-items: center;
}

.user-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  grid-row: 1 / span 2;
}

.form {
  padding: 1.56rem 1.87rem 1.87rem;
  background-color: #fff;
}

.icon {
  position: absolute;
  top: 0;
  left: 40px;
  transform: translate(0, -50%);
}

input::placeholder {
  @apply text-secondary;
}
